header {
  height: 5rem;
  justify-content: center;
  background-color: #fbf3cc;
}

header nav {
  justify-content: space-between;
  width: var(--myWidth);
}

header nav .logo {
  justify-content: flex-start;
}

header nav .logo img {
  width: 25%;
  height: auto;
}

header nav .menu ul {
  list-style: none;
  gap: 2rem;
  font-weight: 500;
}

header nav .menu ul li a {
  text-decoration: none;
  color: #000;
}
